[Desktop Entry]
Version=1.0
Name=JokeCoin Core
Comment=Jokecoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem Jokecoin peer-to-peer Netzwerk
Comment[fr]=Jokecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Jokecoin, eşten eşe kriptografik sanal para birimi
Exec=jokecoin-qt %u
Terminal=false
Type=Application
Icon=jokecoin128
MimeType=x-scheme-handler/jokecoin;
Categories=Office;Finance;
StartupWMClass=Jokecoin-qt
